/* Checknet Custom Styles
* primary red #D52B1E rgb(213, 43, 30)
* primary grey #5E6A71 rgb(94, 106, 113)
* text black #111111 rgb(17, 17, 17)
* secondary dark grey #DEDEDE rgb(222, 222, 222)
* secondary medium grey #E9E9E9 rgb(233, 233, 233)
* secondary light grey #F8F8F8 rgb(248, 248, 248)
* 
*/

/**************************** CORE OVERIDES *******************************/
.km-shim {
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 100% !important;
    background-color: rgb(0, 0, 0, 0.2);
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0, color-stop(0, rgba(112, 112, 112, .95)), color-stop(1, rgba(255, 255, 255, .95)));
    background-image: -moz-linear-gradient(50% 100%, 50% 0, rgba(112, 112, 112, .95), rgba(255, 255, 255, .95));
    background-image: -ms-linear-gradient(50% 100%, 50% 0, rgba(112, 112, 112, .95), rgba(255, 255, 255, .95));
    z-index: 10001;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
span.k-icon.k-i-arrow-s {
    display: none
}

.km-badge {
    top: .5em;
    right: .5em;
    line-height: 2em;
    margin-left: .5em;
    min-width: .9em;
    padding: 0;
}



/***************************** NOVA OVERIDES *****************************/
.km-nova {
    font: normal 1em "Arial", "Helvetica Neue", "Helvetica", "Roboto Light", "Verdana", "sans-serif";
    line-height: 1.2
}
.km-nova .km-text {
    font-size: 1rem;
}
.km-nova .km-list>li {
    font-size: 1em;
    padding-left: .84em;
    background: transparent;
    border-radius: 0;
    border-width: 1px 0 0;
    border-style: solid;
    line-height: 1.4em;
    border-color: #DEDEDE;
    padding: .84em .84em .84em .84em;
}
.km-nova .km-listview-link::after,
.km-nova .km-listview-label::after {
    border-color: #D52B1E
}
.km-nova .km-content {
    color: #111111;
    background-color: #fff
}
.km-nova h1,
.km-nova h2,
.km-nova h3,
.km-nova h4,
.km-nova h5,
.km-nova h6,
.km-nova p {
    color: #111;
}
.km-nova a:not([class]),
.km-nova .km-external-link {
    color: #D52B1E
}
.km-nova .km-footer {background: none!important;
}
/* FONT OVERIDES */
.km-plus:after,
.km-plus:before {
    font: 1.1em/1.1em "fontello"!important;
    content: '\e807'!important;
}
.km-minus:after,
.km-minus:before {
    font: 1.1em/1.1em "fontello"!important;
    content: '\e804'!important;
}

.km-state-active .km-icon:before {
    display: initial!important;
}

/* COLOR OVERIDES */
.km-nova .km-badge {
    color: #fff;
    background: #5E6A71;
    border-color: #5E6A71;
}
.km-nova .km-primary {
    color: #fff;
    background-color: rgb(213, 43, 30);
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0, color-stop(0, rgba(210, 67, 39, .1)), color-stop(1, rgba(210, 67, 39, .9)));
    background-image: -moz-linear-gradient(50% 100%, 50% 0, rgba(210, 67, 39, .1), rgba(210, 67, 39, .9));
    background-image: -ms-linear-gradient(50% 100%, 50% 0, rgba(210, 67, 39, .1), rgba(210, 67, 39, .9));
    background-repeat: repeat;
    background-position: 0 0;
    border: 0;
}
.km-nova .km-secondary {
    color: #fff;
    background-color: rgb(176, 176, 176);
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0, color-stop(0, rgba(146, 146, 146, .1)), color-stop(1, rgba(146, 146, 146, .9)));
    background-image: -moz-linear-gradient(50% 100%, 50% 0, rgba(146, 146, 146, .1), rgba(146, 146, 146, .9));
    background-image: -ms-linear-gradient(50% 100%, 50% 0, rgba(146, 146, 146, .1), rgba(146, 146, 146, .9));
    background-repeat: repeat;
    background-position: 0 0;
    border: 0;
}
.km-nova .km-primary.km-state-active {
    background: #D52B1E;
    border-color: #D52B1E
}
.km-nova .km-secondary.km-state-active {
    background: #929292!important;
    border-color: #929292!important
}
.km-nova .km-light .km-view-title {
    color: #D52B1E
}
.km-nova .km-list>li>.km-listview-link {
    color: #D52B1E!important;
}

.km-nova .km-list>li>.km-listview-link .km-icon {
    color: #5E6A71;
}
.km-nova .km-group-title,
.km-nova .km-list fieldset legend,
.km-nova .km-shim li.km-actionsheet-title {
    background-color: rgb(233, 233, 233)!important;
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0, color-stop(0, rgba(248, 248, 248, 0)), color-stop(1, rgba(248, 248, 248, .9)))!important;
    background-image: -moz-linear-gradient(50% 100%, 50% 0, rgba(248, 248, 248, 0), rgba(248, 248, 248, .9))!important;
    background-image: -ms-linear-gradient(50% 100%, 50% 0, rgba(248, 248, 248, 0), rgba(248, 248, 248, .9))!important;
    background-repeat: repeat!important;
    background-position: 0 0!important;
    background: #DEDEDE;
    border-color: #DEDEDE!;
    color: #111111
}

/* FORM OVERIDES */
.km-nova .km-list fieldset {
    border: 0;
    padding: 0 1.61em;
    margin: 0 -1.61em;
}
.km-nova .km-list fieldset>textarea,
.km-nova .km-list fieldset>input[type=password],
.km-nova .km-list fieldset>input[type=search],
.km-nova .km-list fieldset>input[type=number],
.km-nova .km-list fieldset>input[type=tel],
.km-nova .km-list fieldset>input[type=url],
.km-nova .km-list fieldset>input[type=email],
.km-nova .km-list fieldset>input[type=month],
.km-nova .km-list fieldset>input[type=color],
.km-nova .km-list fieldset>input[type=week],
.km-nova .km-list fieldset>input[type=date],
.km-nova .km-list fieldset>input[type=time],
.km-nova .km-list fieldset>input[type=datetime],
.km-nova .km-list fieldset>input[type=datetime-local],
.km-nova .km-list fieldset>input[type=text]:not(.k-input),
.km-nova .km-list fieldset>select:not([multiple]),
.km-nova .km-list fieldset>.k-dropdown-wrap {
    padding: .6em;
    color: #111;
}
.km-nova .km-list input[type=password],
.km-nova .km-list input[type=search],
.km-nova .km-list input[type=number],
.km-nova .km-list input[type=tel],
.km-nova .km-list input[type=url],
.km-nova .km-list input[type=email],
.km-nova .km-list input[type=month],
.km-nova .km-list input[type=color],
.km-nova .km-list input[type=week],
.km-nova .km-list input[type=date],
.km-nova .km-list input[type=time],
.km-nova .km-list input[type=datetime],
.km-nova .km-list input[type=datetime-local],
.km-nova .km-list input[type=text]:not(.k-input),
.km-nova .km-list select:not([multiple]),
.km-nova .km-list .k-dropdown-wrap,
.km-nova .km-list textarea {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 1.1rem;
    min-width: 6em;
    border: 1px solid #DEDEDE;
    outline: 0;
    background: #fff;
    margin-top: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%)
}
.km-list input[type=text]:not(.k-input),
.km-list input[type=password],
.km-list input[type=search],
.km-list input[type=number],
.km-list input[type=tel],
.km-list input[type=url],
.km-list input[type=email],
.km-list input[type=file],
.km-list input[type=month],
.km-list input[type=color],
.km-list input[type=week],
.km-list input[type=date],
.km-list input[type=time],
.km-list input[type=datetime],
.km-list input[type=datetime-local],
.km-list select:not([multiple]),
.km-list .k-dropdown,
.km-list textarea {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.2em;
    position: absolute;
    top: 50%;
    line-height: normal;
    z-index: 1;
    right: 0;
    margin-top: -1em
}
.km-nova input.km-checkbox:checked + .km-checkbox-label::after {font-size:1.5em;}
.km-nova .km-switch-wrapper {
    border-color: #7ED321;
    background-color: #7ED321
}
.km-nova span.km-switch {
    color: #7ED321
}

/* MODULE OVERIDES */
.km-modalview-root::before, .km-modalview-wrapper::before {vertical-align: top;}


.km-nova .km-popup,
.km-nova .km-shim,
.km-phone .km-nova .km-actionsheet-wrapper,
.km-nova .km-actionsheet-root {
    background-color: rgb(0, 0, 0, 0.2);
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0, color-stop(0, rgba(112, 112, 112, .95)), color-stop(1, rgba(255, 255, 255, .95)));
    background-image: -moz-linear-gradient(50% 100%, 50% 0, rgba(112, 112, 112, .95), rgba(255, 255, 255, .95));
    background-image: -ms-linear-gradient(50% 100%, 50% 0, rgba(112, 112, 112, .95), rgba(255, 255, 255, .95));
    background-repeat: repeat;
    background-position: 0 0;
}
.km-nova .km-module-wrap {
    background-color: rgb(0, 0, 0, 0.2);
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0, color-stop(0, rgba(112, 112, 112, .95)), color-stop(1, rgba(255, 255, 255, .95)));
    background-image: -moz-linear-gradient(50% 100%, 50% 0, rgba(112, 112, 112, .95), rgba(255, 255, 255, .95));
    background-image: -ms-linear-gradient(50% 100%, 50% 0, rgba(112, 112, 112, .95), rgba(255, 255, 255, .95));
    background-repeat: repeat;
    background-position: 0 0;
    border: .1rem #5E6A71 solid;
}



.km-nova .km-modalview .km-content,
.km-nova .km-modalview .km-content .km-footer {
    background: none!important;
    background:rgba(255, 255, 255, 0)!important
}

/* BUTTON OVERIDES */

.km-nova .km-view-title{
   font-size: 1.1em;
   line-height: 2.78em; 
}
.km-nova .km-navbar .km-button{
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0 .7em;
    height: 100%;
    line-height: 3.27em;
}

.km-nova .km-group-title {
    font-size: 1.2em;
    position: -webkit-sticky;
    text-indent: 0;
    margin-top: 0;
    font-weight: normal;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 1.17em .84em .39em
}
.km-nova .km-link-button {
    color: #D52B1E;
    border-color: transparent
}
.km-nova .km-buttongroup .km-button {
    color: #D52B1E;
    border-color: #DEDEDE
}
.km-nova .km-buttongroup .km-state-active {
    color: #fff;
    background-color: #D52B1E
}
.km-nova .km-button.km-large, 
.km-nova .km-buttongroup.km-large .km-button {
    padding: 1em;
}

/* NAV OVERIDES */

.km-nova .km-light.km-navbar,
.km-nova .km-light.k-toolbar,
.km-nova .km-light.km-tabstrip {
    background: #fff;
    box-shadow: none;
    -webkit-box-shadow: none
}
.km-nova .km-dark.km-navbar .km-view-title,
.km-nova .km-dark.km-navbar,
.km-nova .km-dark.k-toolbar,
.km-nova .km-dark.km-tabstrip {
    font-size: 1.2em;
    color: #111;
    background: none!important;
    box-shadow: none;
    -webkit-box-shadow: none
}
.km-nova .km-transparent.km-navbar,
.km-nova .km-transparent.k-toolbar,
.km-nova .km-transparent.km-tabstrip {
    background: none;
    border: none;
}

.km-nova .km-accent.km-navbar,
.km-nova .km-accent.k-toolbar,
.km-nova .km-accent.km-tabstrip,
.km-nova .km-vertical-tabstrip .km-button.km-state-active:before,
.km-nova .km-drawer .km-listview li.km-state-active:before {
    background-color: rgb(213, 43, 30);
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0, color-stop(0, rgba(210, 67, 39, .1)), color-stop(1, rgba(210, 67, 39, .9)));
    background-image: -moz-linear-gradient(50% 100%, 50% 0, rgba(210, 67, 39, .1), rgba(210, 67, 39, .9));
    background-image: -ms-linear-gradient(50% 100%, 50% 0, rgba(210, 67, 39, .1), rgba(210, 67, 39, .9));
    background-repeat: repeat;
    background-position: 0 0;
}
.km-nova .km-light.km-navbar .km-back:before,
.km-nova .km-light.k-toolbar .km-back:before,
.km-nova .km-light.km-navbar .km-button {
    color: #D52B1E
}

/* COLLAPSE OVERIDES */
.km-collapsible-header .km-plus,
.km-collapsible-header .km-minus {
    position: absolute;
    top: .5em
}
.km-icon-left .km-plus,
.km-icon-left .km-minus {
    left: .2em
}
.km-icon-right .km-plus,
.km-icon-right .km-minus {
    left: auto !important;
    right: .2em !important
}
.km-nova .km-collapsible-header {
    line-height: 4.125em;
    padding: 0 1.16em 0 1.16em;
    font-size: 1.087em;
    height: auto;
    background-color: rgb(0, 0, 0);
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0, color-stop(0, rgba(102, 102, 102, .99)), color-stop(1, rgba(146, 146, 146, .99)));
    background-image: -moz-linear-gradient(50% 100%, 50% 0, rgba(102, 102, 102, .99), rgba(146, 146, 146, .99));
    background-image: -ms-linear-gradient(50% 100%, 50% 0, rgba(102, 102, 102, .99), rgba(146, 146, 146, .99));
    background-repeat: repeat;
    background-position: 0 0;
}
.km-nova .km-collapsible-header h4 {
    color: #ffffff;
    line-height: 1.2em;
    padding: .8em .8em .8em 0;
}
.km-nova .km-collapsible-header .km-icon,
.km-nova .km-expanded .km-collapsible-header .km-icon {
    color: #ffffff;
}
.km-nova .km-collapsible-content {
    padding: 1em
}
.km-nova .km-collapsible-header h1 {
    line-height: 2.85em
}


/***************************** CHECKNET GLOBAL STYLES *****************************/

@font-face {
    font-family: 'fontello';
    src: url('images/fontello.eot?84161452');
    src: url('images/fontello.eot?84161452#iefix') format('embedded-opentype'), url('images/fontello.woff?84161452') format('woff'), url('images/fontello.ttf?84161452') format('truetype'), url('images/fontello.svg?84161452#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
.ck-icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class^="ck-"]:before,
[class*=" ck-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    font-size: 120%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 
}
.ck-alert:before {content: '\e800';}
.ck-terms:before {content: '\e801';}
.ck-approval:before {content: '\e802';}
.ck-cart:before {content: '\e803';}
.ck-contact:before {content: '\e805';}
.ck-delivery:before {content: '\e806';}
.ck-faq:before {content: '\e808';}
.ck-feedback:before {content: '\e809';}
.ck-globe:before {content: '\e80a';}
.ck-help:before {content: '\e80b';}
.ck-location:before {content: '\e80c';}
.ck-lock:before {content: '\e80d';}
.ck-maintance:before {content: '\e80e';}
.ck-messages-alt:before {content: '\e80f';}
.ck-messages:before {content: '\e810';}
.ck-news:before {content: '\e811';}
.ck-menu:before {content: '\e812';}
.ck-policy:before {content: '\e813';}
.ck-printshop:before {content: '\e814';}
.ck-signout:before {content: '\e815';}
.ck-shipment:before {content: '\e816';}
.ck-settings:before {content: '\e817';}
.ck-recieved:before {content: '\e818';}
.ck-track:before {content: '\e819';}
.ck-password:before {content: '\e81a';}
.ck-x-close:before {content: '\e81b';}
.ck-close:before {content: '\e81c';}
.ck-left-open:before {content: '\e81d';}
.ck-barrow:before { content: '\e81d'; }
/* '' */

.ck-grey-wrap {
    background-color: rgb(233, 233, 233)!important;
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0, color-stop(0, rgba(248, 248, 248, 0)), color-stop(1, rgba(248, 248, 248, .99)))!important;
    background-image: -moz-linear-gradient(50% 100%, 50% 0, rgba(248, 248, 248, 0), rgba(248, 248, 248, .99))!important;
    background-image: -ms-linear-gradient(50% 100%, 50% 0, rgba(248, 248, 248, 0), rgba(248, 248, 248, .99))!important;
    background-repeat: repeat!important;
    background-position: 0 0!important;
    border: .1em solid #DEDEDE;
}
.ck-drkgrey-wrap {background:#DEDEDE;}
.ck-no-border>li {
    border-width: none!important;
    border-style: none!important;
}
.ck-align-right {
   text-align: right;
}
.ck-no-pad {
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.ck-no-pad-side {
    padding-left: 0!important;
    padding-right: 0!important;
}
.ck-group-full{width:100%;}
.ck-center-li {text-align:center!important;}



/* LOGIN VIEW */
.ck-login>input {
    border-radius: .4em;
    margin: .4em 0;
}
.ck-input-btn {
    color: #D52B1E!important;
    float: right;
    padding: 0!important;
    border-radius: 0;
    border-width: none!important;
    border-style: none!important;
    line-height: 0!important;
    vertical-align: middle;
    background: none!important;
    margin-top:-2.6em; 
    margin-right:.5em; 
    z-index: 1;
}
.ck-login-logo {width: 16em; height: 5em; margin: 1em auto 2em; display: block; float: none;}
.ck-switchpad-right {float: right; margin-right:4.7rem;}
.ck-disclamier {text-align: center; padding-top:1em; font-size: .7em!important;}
.ck-lang-select {float:right; width:40%; line-height:3em;}
.ck-close-btn {background: none!important; border: 0!important; padding: 0!important; margin-top: -1.9rem;}

.ck-module-wrap {
    background-color: rgb(233, 233, 233)!important;
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0, color-stop(0, rgba(248, 248, 248, 0)), color-stop(1, rgba(248, 248, 248, .9)))!important;
    background-image: -moz-linear-gradient(50% 100%, 50% 0, rgba(248, 248, 248, 0), rgba(248, 248, 248, .9))!important;
    background-image: -ms-linear-gradient(50% 100%, 50% 0, rgba(248, 248, 248, 0), rgba(248, 248, 248, .9))!important;
    background-repeat: repeat!important;
    background-position: 0 0!important;
    border: .1em solid #5E6A71!important;
}

.ck-module-solid {
    background: #F8F8F8!important;
    border: .1em solid #5E6A71!important;
}
.ck-module-date {
    background: #D52B1E!important;
    color: #ffffff!important;
    font-size: .8em!important;
}
.ck-module-icon {font-size: 210%; float: left; margin: 0 .6em 2em 0;}

/* MENU VIEWS */
.ck-title-setting{
    color: #D52B1E!important;
}
.ck-descript-setting {
    font-size: .74rem!important;
    margin-top: -.3rem!important;
    margin-right: 4.5rem!important;
}
.ck-icon-setting {
    font-size: 125%!important;
    color: #5E6A71;
    float: left;
    margin: .5rem 1rem 1.5rem 0
}

.ck-padfix-setting {
    font-size: .4em!important;
    padding-top: .4em!important;
    padding-bottom: .4em!important;
}
.ck-xl {
    font-size: 118%;
    margin-top: .8em;
}

/* HOME VIEWS */

/* search and select dropdown */
.ck-po-container {
  padding: .44em .84em .14em .84em!important;
  
}

.ck-po-select {
    color: #ffffff!important;
    width:45%!important; 
    float:left!important;
    font-size: .75em!important;
   /*background-color: rgb(0, 0, 0)!important;
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0, color-stop(0, rgba(102, 102, 102, .99)), color-stop(1, rgba(146, 146, 146, .99)))!important;
    background-image: -moz-linear-gradient(50% 100%, 50% 0, rgba(102, 102, 102, .99), rgba(146, 146, 146, .99))!important;
    background-image: -ms-linear-gradient(50% 100%, 50% 0, rgba(102, 102, 102, .99), rgba(146, 146, 146, .99))!important;
    background-repeat: repeat!important;
    background-position: 0 0!important;*/
    border-top-right-radius:0!important;
    border-bottom-right-radius:0!important;
    border-top-left-radius:1.5em!important;
    border-bottom-left-radius:1.5em!important;
    }

.ck-po-search {
    width:55%!important; 
    float:right!important;
    font-size: .75em!important;
    border-top-left-radius:0!important;
    border-bottom-left-radius:0!important;
    border-top-right-radius:1.5em!important;
    border-bottom-right-radius:1.5em!important;
    padding-left:30px;
}
/* search and select dropdown */
.km-nova .ck-home .km-collapsible-header {
    line-height: 4.125em;
    padding: 0;
    font-size: 1.087em;
    height: auto;
    background-color: rgb(0, 0, 0);
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0, color-stop(0, rgba(146, 146, 146, .99)), color-stop(1, rgba(102, 102, 102, .99)));
    background-image: -moz-linear-gradient(50% 100%, 50% 0, rgba(146, 146, 146, .99), rgba(102, 102, 102, .99));
    background-image: -ms-linear-gradient(50% 100%, 50% 0, rgba(146, 146, 146, .99), rgba(102, 102, 102, .99));
    background-repeat: repeat;
    background-position: 0 0;
}
.km-nova .ck-home .km-collapsible-header h3 {
    color: #ffffff;
    line-height: .5em;
    padding: 0;
}

.km-nova .ck-home .km-collapsible-content { padding: 0;}
.km-nova .ck-home .km-collapsible-header .km-icon {
    display: none;     
}

.ck-home {
    margin:.5em 0 0 0;
    border-bottom:.3em solid #D52B1E;
}
.ck-home .ck-title {
    color:#fff;
    border:0;
    padding:.5em 0 0 1em;
    background:none;
}
.ck-home .ck-title-icon {
    color:#D52B1E;
    padding:.5em 1em 0 0;
    float: right; 
    background:none; 
    border-style:none;
   
}

.ck-home .ck-title-icon.km-state-active {
    background:none; 
    border-style:none;
}
.ck-home .ck-button-group{
    width: 100%;
    margin-bottom: 0;
}
.ck-home .ck-button {  
    width: 33.33%;
    background: #E9E9E9; 
    border-color: #ffffff; 
    color:#000000!important;
    padding:.3em 0 0 0!important;
    border-radius: 0!important;
    border-width:.1em!important;
    border-color: #fff!important;
    
}
.ck-home .ck-button.km-state-active {  
    color:#ffffff!important;
    background-color: rgb(176, 176, 176);
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0, color-stop(0, rgba(146, 146, 146, .1)), color-stop(1, rgba(146, 146, 146, .9)));
    background-image: -moz-linear-gradient(50% 100%, 50% 0, rgba(146, 146, 146, .1), rgba(146, 146, 146, .9));
    background-image: -ms-linear-gradient(50% 100%, 50% 0, rgba(146, 146, 146, .1), rgba(146, 146, 146, .9));
    background-repeat: repeat;
    background-position: 0 0;
    
}
.ck-home .ck-button-number{font-size:1.5rem; padding:0!important;}
.ck-home .ck-button-text{font-size:.8rem;}

.ck-btn-left {width:45%!important; float:left!important; color:#fff!important;}
.ck-btn-right {width:45%!important; float:right!important; color:#fff!important;}

/* TABLE STYLES */

.ck-table {
    width: 100%;
    font-size: .8em;
    border-collapse: collapse;
    -webkit-border-horizontal-spacing: 2px;
    -webkit-border-vertical-spacing: 2px;
}

.ck-table .header {  
    color:#ffffff!important;
    padding: .5em 0!important;
    background-color: rgb(176, 176, 176);
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0, color-stop(0, rgba(146, 146, 146, .1)), color-stop(1, rgba(146, 146, 146, .9)));
    background-image: -moz-linear-gradient(50% 100%, 50% 0, rgba(146, 146, 146, .1), rgba(146, 146, 146, .9));
    background-image: -ms-linear-gradient(50% 100%, 50% 0, rgba(146, 146, 146, .1), rgba(146, 146, 146, .9));
    background-repeat: repeat;
    background-position: 0 0;
    border: 0;
    
}
.ck-table .pipe {border-bottom: 1px solid #DEDEDE;}
.ck-table .spacer {padding: .8em 0; vertical-align:top;}
.ck-table .v-align {vertical-align:top;}
.ck-table .red {color: #D52B1E; position:relative; left:1em; top:.7em;}

.ck-table .data-btn {
    padding: .5em 0!important;
    border:0!important;
    color: inherit;
    text-align: left;
}

.ck-table .data-btn div {
    color:#9CA3A8; padding:0!important; font-size: .65em; text-align: left;}
.ck-table .data-btn .km-text {
 font-size: .8rem;
}










