<kendo-mobile-view k-title="'{{form.title.resoruceValue}}'" k-layout="'default'" ng-controller="feedbackController">
    
    <kendo-mobile-content>
        <kendo-mobile-list-view k-style="'inset'" class="ck-drkgrey-wrap ck-no-border">
            <li> 
              <fieldset>
                    <textarea placeholder="{{form.feedback.resoruceValue}}" ng-model="feedbackData.comment" style="height: 150px;"></textarea>
                </fieldset>
            </li>
            <li>
            <i></i>
                <kendo-mobile-button class="km-primary km-large km-justified" ng-click="send()">{{form.send.resoruceValue}}</kendo-mobile-button>
            </li>
        </kendo-mobile-list-view>
        <p ng-show="message" class="text-center ckp-a-link" k-transition="'slide'" ng-bind-html="renderHtml(message)"></p>
    </kendo-mobile-content>
</kendo-mobile-view>
