<kendo-mobile-view k-title="'Terms and Condition'" k-layout="'default'" ng-controller="termsConditionController">
     <kendo-mobile-content>
        <kendo-mobile-list-view ng-show="termsCondition" ng-repeat="terms in termsCondition.Resources" ng-if="$index == 2">
            <li>
                <p ng-bind-html="renderHtml(terms.ResourceValue.ResourceValue)"></p>

            </li>              
        </kendo-mobile-list-view>
  
    <div ng-show="!termsCondition">
        No data found
    </div>
         </kendo-mobile-content>
</kendo-mobile-view>
