.k-invalid {
    border-color: rgb(213, 43, 30) !important;
    
}
.k-invalid:focus,:valid {
    border-color: #cccccc !important;   
}

.main-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: #3B3B3B;
  overflow-y: hidden;
  transition: width 0.3s ease;
}
.ck-home .ck-title{
  width: 85%;
  text-align: left;
}
.main-nav:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 10px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
.ck-disclamier {text-align: center; padding-top:1em; font-size: .7em!important;}
.ck-login-logo {
    width: 16em;
    height: 5em;
    margin: 1em auto 2em;
    display: block;
    float: none;
}
.ck-lang-select{width:auto !important; padding-right:1em;}
.ck-font-size-mid{
    font-size: medium;
}
/* override PL changes*/

.ck-module-icon{
    margin: 0 .6em 0em 0; 
    font-size: 150%;
}
.text-center{text-align:center;}
.ckp-a-link {
    color: rgb(213, 43, 30) !important;
}

.km-nova .km-drawer .km-list .km-listview-link:after, .km-nova .km-drawer .km-list .km-listview-label:after{
   border-color: rgb(213, 43, 30) !important;
}

.km-collapsible-content.km-animated {
    height: auto !important;
}
.km-nova .km-drawer .km-content {
    background-color: rgb(233, 233, 233)!important;
}

.km-i-signin:after
 {
    content: "\e0b2";
}


.km-mail:after {
   content: "\e099";
    color: grey !important;
}

.alert-box {
    background: #f7f7f7;
    color: #333;
    border: none;
    border-left: 6px solid #008CBA;
    box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
}

    .alert-box.success {
        background: #f7f7f7;
        color: #333;
    }

    .alert-box.alert {
        background: #f7f7f7;
        color: #333;
    }

    .alert-box.warning {
        background: #f7f7f7;
        color: #333;
    }

    .alert-box.info {
        background: #f7f7f7;
        color: #333;
    }

    .alert-box.small {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-size: 0.75rem;
    }

        .alert-box.small .close {
            font-size: 1.5rem;
        }

    .alert-box.large {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        font-size: 2rem;
    }

        .alert-box.large .close {
            font-size: 3rem;
        }

    .alert-box .close {
        font-size: 2rem;
        line-height: 1.25rem;
    }
