<kendo-mobile-view k-title="'{{form.title.resourceValue}}'" k-layout="'default'" ng-controller="orderDetailController" k-on-show="intShow(kendoEvent)" k-after-show="afterShow">
    <kendo-mobile-header>
        <kendo-mobile-nav-bar class="km-accent">
            <kendo-mobile-button ng-show="trackingCount > 0" id="btn_tracking" k-align="'right'" ng-click="showTrakcingListModal()">
                <i class="ck-icon ck-track" style="font-size: 140%; margin-top: .6em;"></i>
            </kendo-mobile-button>

            <kendo-mobile-back-button k-align="'left'" style="margin-left:5px;" data-tap="myTouch.tap">
                <i class="ck-icon ck-barrow"></i>
            </kendo-mobile-back-button>
            <kendo-view-title>Order Details</kendo-view-title>
        </kendo-mobile-nav-bar>
    </kendo-mobile-header>
    <kendo-mobile-content>
        <p style="padding:5px;" ng-show="order.detail.MobileOrderDetail.POCtrlNo === 0">   {{form.noResults.resourceValue}}</p>
        <kendo-mobile-list-view class="ck-no-border ck-grey-wrap" ng-show="order.detail.MobileOrderDetail.POCtrlNo > 0">
            <li>
                <h2 class="km-bold-font">{{order.detail.MobileOrderDetail.OrganizationName}}</h2>
                <table class="ck-table">
                    <tr>
                        <td class="v-align" style="width :35%;">
                            <h3 class="km-bold-font order-detail-h3" ng-show="order.detail.MobileOrderDetail.IsStagedOrder">{{form.dateInSystem.resourceValue}}</h3>
                            <h3 class="km-bold-font order-detail-h3" ng-show="!order.detail.MobileOrderDetail.IsStagedOrder">{{form.orderDate.resourceValue}}</h3>
                        </td>
                        <td class="v-align" style="width :40%">
                            <span ng-show="order.detail.MobileOrderDetail.IsStagedOrder">:{{order.detail.MobileOrderDetail.DateInSystem | date}}</span>
                            <span ng-show="!order.detail.MobileOrderDetail.IsStagedOrder">:{{order.detail.MobileOrderDetail.OrderDate | date}}</span>
                        </td>
                        <td class="v-align c-align" rowspan="2" style="width :27%; overflow-wrap: normal !important; line-height: 1 !important;">
                            <div class="status open">
                                <span style="font-size:x-small !important;">{{form.orderStatus.resourceValue}}:</span>
                                {{order.detail.MobileOrderDetail.StatusDisplay}}
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td class="v-align" style="width :35%">
                            <h3 class="km-bold-font order-detail-h3">{{form.shoppingCart.resourceValue}}</h3>
                        </td>
                        <td class="v-align" style="width :40%">
                            <span>:{{order.detail.MobileOrderDetail.ShoppingCartId}}</span>
                        </td>
                    </tr>

                    <tr>
                        <td class="v-align" style="width :35%">
                            <h3 class="km-bold-font order-detail-h3">{{form.orderNumber.resourceValue}}</h3>
                        </td>
                        <td class="v-align" style="width :40%">
                            <span>:{{order.detail.MobileOrderDetail.OrderNumber}}</span>
                        </td>

                        <td class="v-align c-align" rowspan="2" style="width :27%; overflow-wrap: normal !important;">
                            <div style="text-align:center;">
                                <input kendo-mobile-switch type="checkbox"
                                       k-on-change="onChangeNotifyMe(kendoEvent)" ng-model="notifyMe" data-SubscriptionType="108" />

                                <p style="font-size:x-small !important; margin-bottom:0 !important; margin-top:5px !important;">{{form.notifyMe.resourceValue}}</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="v-align" style="width :35%">
                            <h3 class="km-bold-font order-detail-h3">{{form.salesOrder.resourceValue}}</h3>
                        </td>
                        <td class="v-align" style="width :40%">
                            <span>:{{order.detail.MobileOrderDetail.SalesOrderNumber}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="v-align" style="width :35%">
                            <h3 class="km-bold-font order-detail-h3">{{form.vendorRef.resourceValue}}</h3>
                        </td>
                        <td class="v-align" style="width :40%">
                            <span>:{{order.detail.MobileOrderDetail.VendorRef}}</span>
                        </td>
                        <td class="v-align c-align" rowspan="3" style="width :27%; overflow-wrap: normal !important; line-height: 1 !important;"
                            ng-show="order.detail.MobileOrderDetail.ShoppingCartId > 0">
                            <div style="text-align:center;">
                                <img src="styles/images/page.png" class="page" style="height:35px !important; width:25px !important; margin-left: 0 !important;" data-tap="myTouch.tap"
                                     ng-click="showConfirmationModel(order.detail.MobileOrderDetail.ShoppingCartId)" />
                                <p style="font-size:x-small !important; margin-top: -5px !important;">{{form.confirmation.resourceValue}}</p>
                            </div>


                        </td>
                    </tr>

                    <tr>
                        <td class="v-align" style="width :35%">
                            <h3 class="km-bold-font order-detail-h3">{{form.estimated.resourceValue}}</h3>
                            <h3 class="km-bold-font order-detail-h3">{{form.shipDate.resourceValue}}</h3>
                            <span ng-show="order.detail.MobileOrderlineDetailList[0].DateShipped ||
                                           order.detail.MobileOrderlineDetailList[0].DeliveryDate ||
                                           order.detail.OrgContext.SearchKeyName ||
                                           order.detail.OrgContext.SearchKeyName2 ||
                                           order.detail.OrgContext.SearchKeyName3 ||
                                           order.detail.OrgContext.CutNumberLabel">
                                <a ng-click="showMore = !showMore" ng-show="!showMore " class="ckp-a-link">{{form.seeMoreDetail.resourceValue}}</a>
                            </span>
                        </td>
                        <td class="v-align" style="width :40%">
                            <span>:{{order.detail.MobileOrderDetail.DueDate | date}}</span>
                        </td>
                    </tr>
                    <tr ng-show="showMore && order.detail.MobileOrderlineDetailList[0].DateShipped">
                        <td class="v-align" style="width :35%">
                            <p><h3 class="km-bold-font order-detail-h3">{{form.shipDate.resourceValue}}</h3></p>
                        </td>
                        <td class="v-align" style="width :40%">
                            <span>:{{order.detail.MobileOrderlineDetailList[0].DateShipped | date}}</span>
                        </td>
                    </tr>

                    <tr ng-show="showMore && order.detail.MobileOrderlineDetailList[0].DeliveryDate">
                        <td class="v-align" style="width :35%">
                            <h3 class="km-bold-font order-detail-h3">{{form.deliveryDate.resourceValue}}</h3>
                        </td>
                        <td class="v-align" style="width :40%">
                            <span>:{{order.detail.MobileOrderlineDetailList[0].DeliveryDate | date}}</span>
                        </td>
                    </tr>

                    <tr ng-show="showMore && order.detail.MobileOrderlineDetailList[0].SignedBy">
                        <td class="v-align" style="width :35%">
                            <h3 class="km-bold-font order-detail-h3">{{form.signedBy.resourceValue}}</h3>
                        </td>
                        <td class="v-align" style="width :40%">
                            <span>:{{order.detail.MobileOrderlineDetailList[0].SignedBy}}</span>
                        </td>
                    </tr>

                    <tr ng-show="showMore && order.detail.OrgContext.SearchKeyName">
                        <td class="v-align" style="width :35%">
                            <h3 class="km-bold-font order-detail-h3" ng-show="order.detail.OrgContext.SearchKeyName">{{order.detail.OrgContext.SearchKeyName}}</h3>
                        </td>
                        <td class="v-align" style="width :40%">
                            <span>:{{order.detail.MobileOrderDetail.SearchKeyValue}}</span>
                        </td>
                    </tr>


                    <tr ng-show="showMore && order.detail.OrgContext.SearchKeyName2">
                        <td class="v-align" style="width :35%">
                            <h3 class="km-bold-font order-detail-h3" ng-show="order.detail.OrgContext.SearchKeyName2">{{order.detail.OrgContext.SearchKeyName2}}</h3>
                        </td>
                        <td class="v-align" style="width :40%">
                            <span>:{{order.detail.MobileOrderDetail.SearchKeyValue2}}</span>
                        </td>
                    </tr>


                    <tr ng-show="showMore && order.detail.OrgContext.SearchKeyName3">
                        <td class="v-align" style="width :35%">
                            <h3 class="km-bold-font order-detail-h3" ng-show="order.detail.OrgContext.SearchKeyName3">{{order.detail.OrgContext.SearchKeyName3}}</h3>
                        </td>
                        <td class="v-align" style="width :40%">
                            <span>:{{order.detail.MobileOrderDetail.SearchKeyValue3}}</span>
                        </td>
                    </tr>

                    <tr ng-show="showMore && order.detail.OrgContext.CutNumberLabel">
                        <td class="v-align" style="width :35%">
                            <h3 class="km-bold-font order-detail-h3" ng-show="order.detail.OrgContext.CutNumberLabel">{{order.detail.OrgContext.CutNumberLabel}}</h3>
                        </td>
                        <td class="v-align" style="width :40%">
                            <span>:{{order.detail.MobileOrderDetail.CutNumber}}</span>
                        </td>
                    </tr>

                    <tr ng-show="showMore">
                        <td class="v-align" style="width :35%">
                            <a ng-click="showMore = !showMore" class="ckp-a-link" ng-show="showMore">{{form.hideMoreDetail.resourceValue}}</a>
                        </td>
                    </tr>

                </table>
            </li>
            <p ng-show="hasBlockAddress"></p>
            <kendo-mobile-collapsible k-icon-position="'right'" k-expand-icon="'plus'" k-collapse-icon="'minus'" k-collapsed="'true'" k-on-expand="OpenExpand()" data-animation="false"
                                      ng-show="!hasBlockAddress">
                <h4>{{form.billingInfo.resourceValue}}</h4>

                <p>
                    <b>{{order.detail.MobileOrderDetail.BillingAddress.Name}}</b>
                </p>
                <p ng-show="order.detail.MobileOrderDetail.BillingAddress.Contact">{{order.detail.MobileOrderDetail.BillingAddress.Contact}}</p>
                <p ng-show="order.detail.MobileOrderDetail.BillingAddress.StoreNumber">{{order.detail.MobileOrderDetail.BillingAddress.StoreNumber}}</p>
                <p ng-show="order.detail.MobileOrderDetail.BillingAddress.Street1">{{order.detail.MobileOrderDetail.BillingAddress.Street1}}</p>
                <p ng-show="order.detail.MobileOrderDetail.BillingAddress.Street2">{{order.detail.MobileOrderDetail.BillingAddress.Street2}}</p>
                <p ng-show="order.detail.MobileOrderDetail.BillingAddress.Street3">{{order.detail.MobileOrderDetail.BillingAddress.Street3}}</p>
                <p ng-show="order.detail.MobileOrderDetail.BillingAddress.Street4">{{order.detail.MobileOrderDetail.BillingAddress.Street4}}</p>
                <p ng-show="order.detail.MobileOrderDetail.BillingAddress.City">{{order.detail.MobileOrderDetail.BillingAddress.City}}, {{order.detail.MobileOrderDetail.BillingAddress.StateProv}} {{order.detail.MobileOrderDetail.BillingAddress.ZipCode}} {{order.detail.MobileOrderDetail.BillingAddress.Iso3166}} </p>
            </kendo-mobile-collapsible>
            <kendo-mobile-collapsible k-mini="false" k-icon-position="'right'" k-expand-icon="'plus'" k-collapse-icon="'minus'" k-collapsed="true" k-on-expand="OpenExpand()" data-animation="false"
                                      ng-show="!hasBlockAddress">
                <h4>{{form.shiptoInfo.resourceValue}}</h4>
                <p>
                    <b>{{order.detail.MobileOrderDetail.DeliveryAddress.Name}}</b>
                </p>
                <p ng-show="order.detail.MobileOrderDetail.DeliveryAddress.Contact">{{order.detail.MobileOrderDetail.DeliveryAddress.Contact}}</p>
                <p ng-show="order.detail.MobileOrderDetail.DeliveryAddress.StoreNumber">{{order.detail.MobileOrderDetail.DeliveryAddress.StoreNumber}}</p>
                <p ng-show="order.detail.MobileOrderDetail.DeliveryAddress.Street1">{{order.detail.MobileOrderDetail.DeliveryAddress.Street1}}</p>
                <p ng-show="order.detail.MobileOrderDetail.DeliveryAddress.Street2">{{order.detail.MobileOrderDetail.DeliveryAddress.Street2}}</p>
                <p ng-show="order.detail.MobileOrderDetail.DeliveryAddress.Street3">{{order.detail.MobileOrderDetail.DeliveryAddress.Street3}}</p>
                <p ng-show="order.detail.MobileOrderDetail.DeliveryAddress.Street4">{{order.detail.MobileOrderDetail.DeliveryAddress.Street4}}</p>
                <p ng-show="order.detail.MobileOrderDetail.DeliveryAddress.City">{{order.detail.MobileOrderDetail.DeliveryAddress.City}}, {{order.detail.MobileOrderDetail.DeliveryAddress.StateProv}} {{order.detail.MobileOrderDetail.DeliveryAddress.ZipCode}} {{order.detail.MobileOrderDetail.DeliveryAddress.Iso3166}} </p>
            </kendo-mobile-collapsible>
            <kendo-mobile-collapsible class="ck-inquiry" k-mini="false" k-icon-position="'right'" k-expand-icon="'plus'" k-collapse-icon="'minus'" k-collapsed="true" k-on-expand="OpenExpand()" data-animation="false">
                <h4>{{form.orderInquiry.resourceValue}}</h4>
                <table class="ck-table">
                    <tr>
                        <td>
                            <fieldset>
                                <textarea rows="3" placeholder="{{form.orderInquiry.resourceValue}}" ng-model="inqueryComment"></textarea>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i></i>
                            <kendo-mobile-button class="km-primary km-large km-justified" style="margin-top:1em;" k-on-click="send()">{{form.sendInquiry.resourceValue}}</kendo-mobile-button>
                            <p ng-show="inqueryMessage" class="text-center ckp-a-link" k-transition="'slide'" ng-bind-html="renderHtml(inqueryMessage)"></p>
                        </td>
                    </tr>
                </table>
            </kendo-mobile-collapsible>
            <kendo-mobile-collapsible class="ck-details" k-mini="false" k-icon-position="'right'" k-expand-icon="'plus'" k-collapse-icon="'minus'" k-collapsed="true" k-on-expand="OpenExpand()" data-animation="false">
                <h4>{{form.orderDetail.resourceValue}}</h4>
                <table class="ck-table pad">
                    <tr class="med-grey pipe">
                        <td style="width:60%">
                            <h4 class="km-bold-font">{{form.item.resourceValue}}</h4>
                        </td>
                        <td style="width:30%">
                            <h4 class="km-bold-font">{{form.quantity.resourceValue}}</h4>
                        </td>
                        <td style="width:30%" ng-show="!hasHidePrice">
                            <h4 class="km-bold-font">{{form.price.resourceValue}} ({{order.detail.MobileOrderlineDetailList[0].GrossCurrency.Code}})</h4>
                        </td>
                        <td style="width:10%">
                        </td>
                    </tr>
                    <tr class="pipe" ng-repeat="orderLine in order.detail.MobileOrderlineDetailList">
                        <td style="width:60%">

                            <h4 class="km-bold-font">

                                <span data-tap="myTouch.tap" data-align="left" ng-click="showItemPreviewModel('{{orderLine.ThumbNailFile}}')" ng-show="orderLine.ThumbNailFile">
                                <span class="km-icon km-info" style="font: 1.5em/1em 'Kendo UI' !important;"></span></span>
                                {{orderLine.ItemDescription}}
                            </h4>
                            <h5>{{form.itemCode.resourceValue}}:<b> {{orderLine.ItemCode}}</b></h5>
                            <h5 ng-show="!hasHidePrice">
                                {{orderLine.GrossCurrency.Code}} {{orderLine.GrossPrice | number : 2}} {{orderLine.PriceUom.UomDisplay}}
                            </h5>
                            <h5>{{form.prodcutionLocation.resourceValue}}:</h5>
                            <h5><b>{{orderLine.PrintshopName}}</b></h5>
                        </td>
                        <td class="v-align" style="width:30%">
                            <h4 class="km-bold-font">{{orderLine.Quantity.Value}}</h4>
                        </td>
                        <td class="v-align" style="width:30%" ng-show="!hasHidePrice">
                            <h4 class="km-bold-font">{{orderLine.Amount | number : 2}}</h4>
                        </td>
                        <td style="margin-top:-10px; width:10%;"  ng-click="showOrderLineDetail({{orderLine.OrderLineId}},{{orderLine.Quantity.Value}})" data-tap="myTouch.tap" ng-show="orderLine.OrderLineId > 0">
                            <i class="km-icon km-details red"></i>
                        </td>
                    </tr>


                </table>
            </kendo-mobile-collapsible>

            <table class="ck-table pad" ng-show="!order.detail.MobileOrderDetail.IsStagedOrder">
                <tr class="pipe" style="background:#fff;">
                    <td style="width:25%">
                        <h4>{{form.releasedBy.resourceValue}}</h4>
                        <h4>{{form.email.resourceValue}}</h4>
                        <h4>{{form.phone.resourceValue}}</h4>
                        <h4 ng-show="order.detail.MobileOrderDetail.Comments">{{form.apporvalCommnet.resourceValue}}</h4>
                    </td>
                    <td style="width:60%">
                        <h4>:{{order.detail.MobileOrderDetail.OrderedBy}}</h4>
                        <h4>:{{order.detail.MobileOrderDetail.EMailAddress}}</h4>
                        <h4>:{{order.detail.MobileOrderDetail.PhoneNumber}}</h4>
                        <h4 ng-show="order.detail.MobileOrderDetail.Comments">:{{order.detail.MobileOrderDetail.Comments}}</h4>
                    </td>
                </tr>
            </table>

        </kendo-mobile-list-view>
    </kendo-mobile-content>
    <!--  url tracking modal -->
    <kendo-mobile-modal-view id="modalview-trackingList" class="km-moduleview" style="width: 100%; height:100%; background:rgba(255, 255, 255, 0);" data-use-native-scrolling="true">
        <kendo-mobile-header>
            <kendo-mobile-nav-bar class="km-dark">
                <kendo-view-title>{{form.trackingList.resourceValue}}</kendo-view-title>
                <kendo-mobile-button ng-click="closeTrackingListModel()" data-tap="myTouch.tap" k-transition="'fade'" k-align="'right'" style="background: none; border: none;">
                    <img src="styles/images/close-button.png" style="width: 1.6em; height: 1.6em;" />
                </kendo-mobile-button>
            </kendo-mobile-nav-bar>
        </kendo-mobile-header>

        <div style="margin-bottom: .5em;" class="ck-module-solid ck-no-border" k-style="'inset'">
            <ul kendo-mobile-list-view ng-repeat="tracking in trackingList">

                <li> <kendo-mobile-button k-align="left" k-on-click="showTracking('{{tracking.TrackingUrl}}')" style="border:none !important; background: #F8F8F8!important; text-align:left !important;" class="km-listview-link">{{tracking.CourierName}} - {{tracking.AwbNumber}}</kendo-mobile-button></li>
            </ul>
        </div>

    </kendo-mobile-modal-view>

    <!--  confirmation modal  -->

    <kendo-mobile-modal-view id="modalview-detail-confirmation" class="km-moduleview" style="width: 100%; height:100%; background:rgba(255, 255, 255, 0);" data-zoom="true">
        <div kendo-mobile-header>
            <div kendo-mobile-nav-bar class="km-dark" style="border-bottom: solid;  border-width: 1px; border-color:gray!important">
                <kendo-view-title> {{form.confirmation.resourceValue}}</kendo-view-title>
                <kendo-mobile-button ng-click="hideConfirmationModel()" data-tap="myTouch.tap" k-transition="'fade'" k-align="'right'" style="background: none; border: none;"><img src="styles/images/close-button.png" style="width: 1.6em; height: 1.6em;" /></kendo-mobile-button>

            </div>

        </div>
        <div data-role="content" data-zoom="true" style='background-color:white !important; padding: 5px;'>


            <div ng-bind-html="renderHtml(confirmationData)"></div>

        </div>

    </kendo-mobile-modal-view>
    <!--  preview item modal  -->
    <kendo-mobile-modal-view id="modalview-detail-item-preview" class="km-moduleview" style="width: 100%; height:100%; background:rgba(255, 255, 255, 0);" data-zoom="true">
        <div kendo-mobile-header>
            <div kendo-mobile-nav-bar class="km-dark" style="border-bottom: solid;  border-width: 1px; border-color:gray!important">
                <kendo-view-title> {{form.itemPreview.resourceValue}}</kendo-view-title>
                <kendo-mobile-button ng-click="hideItemPreviewModel()" data-tap="myTouch.tap" k-transition="'fade'" k-align="'right'" style="background: none; border: none;"><img src="styles/images/close-button.png" style="width: 1.6em; height: 1.6em;" /></kendo-mobile-button>

            </div>

        </div>
        <div data-role="content" data-zoom="true" style='background-color:white !important; padding: 5px;'>
            <img ng-src="{{ThumbNailFile}}" style="display: block;margin :auto; text-align:center;" err-src="{{errSrc}}">
        </div>

    </kendo-mobile-modal-view>
</kendo-mobile-view>

