<kendo-mobile-view k-title="'{{form.title.resourceValue}}'" k-layout="'default'" ng-controller="orderLineDetailController" k-on-show="intShow(kendoEvent)" k-after-show="afterShow">
    <kendo-mobile-header>
        <kendo-mobile-nav-bar class="km-accent">
            <kendo-mobile-back-button k-align="'left'" style="margin-left:5px;" data-tap="myTouch.tap">
                <i class="ck-icon ck-barrow"></i>
            </kendo-mobile-back-button>
            <kendo-view-title>Order Line Detail</kendo-view-title>
        </kendo-mobile-nav-bar>
    </kendo-mobile-header>
    <kendo-mobile-content>
        <kendo-mobile-list-view class="ck-no-border">
            <li>
                <h3 class="km-bold-font">{{orderLineDetail.OrderLine[0].__productName}}</h3>
                <table class="ck-table">
                    <tr>
                        <td class="v-align">
                            <h3>{{form.itemCode.resourceValue}} </h3>
                        </td>
                        <td class="v-align">
                            <h3 class="km-bold-font">{{orderLineDetail.OrderLine[0].__productArticleNumber}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td class="v-align">
                            <h3>{{form.totalQuantity.resourceValue}}:</h3>
                        </td>
                        <td class="v-align">
                            <h3 class="km-bold-font">100 </h3>
                        </td>
                    </tr>
                </table>
            </li>
        </kendo-mobile-list-view>
        <kendo-mobile-collapsible k-icon-position="'right'" k-expand-icon="'plus'" k-collapse-icon="'minus'" data-collapsed="true" k-on-expand="OpenExpand()"
                                  ng-repeat="orderLine in orderLineDetail.OrderLine">
            <h4>
                <table class="ck-table">
                    <tr>
                        <td>
                            {{form.lineNumber.resourceValue}} : {{orderLine.__originalQuantity}}
                        </td>
                        <td>
                            {{form.quantity.resourceValue}}:{{orderLine.__originalQuantity}}
                        </td>
                        <td >
                            ({{form.adjustedQuantity.resourceValue}}: {{orderLine.__adjustedQuantity}})
                        </td>
                    </tr>


                </table>
            </h4>
            <table class="ck-table">
                <tr class="pipe"  ng-repeat="column in orderLineDetail.Columns">
                    <td style="width:40%;">
                        <h4 class="km-bold-font" ng-if="column.Field == '__originalQuantity' ">{{form.quantity.resourceValue}}:</h4>
                        <h4 class="km-bold-font" ng-if="column.Field == '__adjustedQuantity' ">{{form.adjustedQuantity.resourceValue}}:</h4>
                        <h4 class="km-bold-font" ng-if="column.Field != '__originalQuantity' && column.Field != '__adjustedQuantity'">{{column.Field}}:</h4>

                    </td>
                    <td style="width:60%;">

                        <h4>{{orderLine[column.Field]}}</h4>
                    </td>
                </tr>


            </table>
        </kendo-mobile-collapsible>

    </kendo-mobile-content>
</kendo-mobile-view>

