<kendo-mobile-view id="login" k-title="'Login'" ng-controller="loginController">
          <kendo-mobile-header>
            <kendo-mobile-nav-bar class="km-light">
                    <a kendo-mobile-button="" k-align="'left'" href="#right-drawer" k-rel="'drawer'" data-role="button" class="km-widget km-button" data-rel="drawer" data-align="left">
                        <span class="km-text"><i class="icon ion-navicon-round"></i> <span class="km-icon km-drawer-icon km-notext"></span></span>
                    </a>
                 <!-- <kendo-mobile-button k-align="'left'" href="#right-drawer"><span class="km-icon km-drawer-icon km-notext"></span>-->
                </kendo-mobile-button>

             <select kendo-drop-down-list class="checknet-icon icon-globe" style="float:right; height: 20%; width:35%;"
                     ng-model="selectedLanague"  
                     ng-change="translatePage()" 
                     ng-options="language.Culture as language.Name for language in languages" 
                     ng-init="selectedLanague = selectedLanague || 'en-US'">
            </select>

             
            </kendo-mobile-nav-bar>
        </kendo-mobile-header>

        <img src="styles/images/Checknet-Logo.png" style="width: 14em; height: 4.5em; margin: .5em auto 1.5em; display: block; float: none;" />

        <form>
            <ul kendo-mobile-list-view k-style="'inset'" class="km-grey-box">   
                             
                <li> <span class="custom-right"><p>   {{form.remmberMe.resoruceValue}}</p></span>
                    <input kendo-mobile-switch k-id="email-switch" k-checked="checked" data-ng-model="loginData.useRefreshTokens" />
                </li>
                
                <li class="input-white">
                    <label class=" km-state-active km-label-above">{{form.username.resoruceValue}}
                        <input value="" type="text"  ng-model="loginData.userName" required placeholder="User Name" autofocus placeholder="{{form.username.resoruceValue}}"/>
                    </label>
                </li>

                <li class="input-white">
                     <kendo-mobile-button class="check-icon icon-help icon-forgot" data-rel="modalview"  href="#modalview-password" id="modalview-open-button"></kendo-mobile-button>
                
                    <label class="km-label-above">{{form.password.resoruceValue}}
                        
                        <input value="" type="password"  ng-model="loginData.password" required placeholder="{{form.password.resoruceValue}}" />
                    </label>
                </li>
                <li>
                     <p class="custom-right"><a href="" 
                           ng-click="showPasswordHint()"
                           ng-disabled="!loginData.userName"
                          class="ckp-a-link">{{form.passwordHint.resoruceValue}} </a></p>
                    
                </li>
                <li>
                    <i></i>
                 
                    <kendo-mobile-button  class="km-primary km-large km-justified"
                                          ng-click="login()"
                                          ng-disabled="!(loginData.userName && loginData.password)">{{form.signin.resoruceValue}}

                    </kendo-mobile-button>
                </li>
                <li><alerts></alerts></li>
                  
            </ul>
        </form>

        <!-- End Form Area -->
        <p class="km-style-info" style="text-align: center; padding-top:1em;">This app contains confidential and proprietary information. This information is provided for the benefit of authorized users only. Unauthorized access to information on this system may result in criminal and/or civil prosecution. All accesses are logged and this information will be used to support any prosecution. </p>
        <p class="km-style-info km-bold-font" style="text-align: center; padding-top:1em;">Material contained on this app is Copyright ©2001-2015 Checkpoint Systems, Inc.</p>
        
    <!-- End Login View -->
        <kendo-mobile-modal-view id="modalview-password" k-transition="'overlay:up reverse'" style="width: 90%;">
            <ul kendo-mobile-list-view k-style="'inset'" class="km-module-wrap">
                <li>
                <h2 class="km-bold-font">Forgot Your Password?</h2>
                    <p>
                        Please enter your email address to receive a new password.
                    </p>
                </li>
                <li class="input-white">
                    <label class=" km-state-active km-label-above">Email
                        <input id="input" value="your@email.com" type="text" />
                    </label>
                </li>
                <li>
                   <i></i>
                    <kendo-mobile-button 
                                        k-on-click="sendPassword()" 
                                        ng-disabled="!loginData.email" 
                                        class="km-primary km-large km-justified">Send New Password</kendo-mobile-button>
                </li>
                  <li><alerts></alerts></li>
            </ul>
            <kendo-mobile-footer>
                <div kendo-mobile-nav-bar class="km-transparent">
                    <a kendo-mobile-button href="" 
                                            k-on-click="closeModalViewForgotPassword()"  
                                            k-transition="'overlay:down reverse'">
                                            <img src="styles/images/close-button.png" style="width: 3em; height: 3em;display: block;" /></a>
            </kendo-mobile-footer></kendo-mobile-modal-view>

  
    </kendo-mobile-view>
<!-- End Forgot Password View -->
