<kendo-mobile-view k-title="'{{form.title.resoruceValue}}'" ng-controller="homeController" k-on-show="intShow(kendoEvent)" k-after-show="afterShow" data-use-native-scrolling="true" >
     <kendo-mobile-header>
            <kendo-mobile-nav-bar class="km-accent">
            
                   <kendo-mobile-button ng-show="messageCount > 0" id="btn_message" k-align="'right'" k-transition="'overlay'" k-rel="'modalview'"  k-on-click="showAlertModel()"><i class="ck-icon ck-messages"></i></kendo-mobile-button>
              

               <a data-align="left" data-role="button" href="#right-drawer" data-rel="drawer" data-icon="drawer-icon" class="km-widget km-button"><i class="ck-icon ck-menu"></i></a>
               <kendo-view-title><img src="styles/images/Checknet-title.png" style="width: 5em; height: .9em;" />
                </kendo-view-title>
            </kendo-mobile-nav-bar>
        </kendo-mobile-header>


       <kendo-mobile-content>
      
       <kendo-mobile-list-view class="ck-no-border">
            <li class="ck-po-container ck-grey-wrap">
                <fieldset class="ck-login">

                     <select class="ck-po-select" 
                         style="background-image: url(styles/images/down-arrow.png); background-position: 95% 50%; background-repeat: no-repeat; background-size: 1em .5em; background-color: #7F7F7F;"
                         ng-model="selectedPara" 
                         ng-change="selectParamter()" 
                         ng-options="parameter.id as parameter.name for parameter in parameters" ng-init="selectedPara = selectedPara || '1'">
                    </select>

                    <input class="ck-po-search" 
                        style="background-image: url(styles/images/search.png); background-position: 95% 50%; background-repeat: no-repeat; background-size: 1em 1em; background-color: #FFFFFF;" 
                        value="" placeholder="{{form.search.resoruceValue}}" type="text" ng-model="searchValue"  ng-keypress="key($event)"/>
                </fieldset>
            
            </li>
           <div></div>
           <div ng-repeat="orderCount in orderCounts">
            <div class="ck-home" style="margin-top:-.1em; background-color:gray;"> 
                
                <h3>
               
                <kendo-mobile-button class="ck-title" k-on-click="retailerHeader()">{{orderCount.RetailerName}}</kendo-mobile-button>
                <kendo-mobile-button class="ck-title-icon" k-transition="'fade'" k-rel="'modalview'"  k-on-click="showCreditModel()"><img src="styles/images/Alert.png" style="width: 1.4em; height: 1.2em;" 
                      ng-show="$first"/></kendo-mobile-button>                   
                  
                    </h3>
                      <kendo-mobile-button-group k-id="buttongroup-home" class="ck-button-group" k-options="myOptions" data-btnRetailer="{{orderCount.RetailerId}}">
                    <li class="ck-button km-button">
                        <div class="ck-button-number">{{orderCount.ApprovalCount}}</div>
                        <div class="ck-button-text">{{form.approvalOrder.resoruceValue}}</div>
                    </li>
                    <li class="ck-button km-button">  
                                    <div class="ck-button-number">{{orderCount.NewOrderCount}}</div>
                                    <div class="ck-button-text">{{form.newOrder.resoruceValue}}</div></li>
                    <li class="ck-button km-button">
                         <div class="ck-button-number">{{orderCount.ReleasedOrderCount}}</div>
                                   <div class="ck-button-text">{{form.releasedOrder.resoruceValue}}</div>
                    </li>
                </kendo-mobile-button-group>
                </div>
            
           
                    <!-- Tab panes -->
                <kendo-mobile-list-view  style="display:none"  data-retailer="{{orderCount.RetailerId}}" class="order-header">
                            <table class="ck-table">
                               
                                    <tr class="header">
                                        <td></td>
                                        <td ng-if="searchParameterId == '1'" class="spacer">{{form.orderNumber.resoruceValue}}</td>
                                        <td ng-if="searchParameterId == '1' " class="spacer">{{form.salesOrder.resoruceValue}}</td>
                                        <td ng-if="searchParameterId == '2' " class="spacer">{{form.salesOrder.resoruceValue}}</td>
                                        <td ng-if="searchParameterId == '2'" class="spacer">{{form.orderNumber.resoruceValue}}</td>
                                        <td ng-if="searchParameterId == '3'" class="spacer">{{form.shoppingCart.resoruceValue}}</td>
                                        <td ng-if="searchParameterId == '3'" class="spacer">{{form.orderNumber.resoruceValue}}</td>
                                        <td ng-if="searchParameterId == '4'" class="spacer">{{form.vendorRef.resoruceValue}}</td>
                                        <td ng-if="searchParameterId == '4'" class="spacer">{{form.orderNumber.resoruceValue}}</td>
                                        <td>{{form.dateInSystem.resoruceValue}}</td>
                                    </tr>
                          
                                 <tr class="pipe" ng-repeat="order in orders">

                        <td> 
                         
              
                            <input type="checkbox"  class="km-checkbox" value="{{order.SalesOrderNo}}"  id="{{$index}}"
                                ng-checked="selection.indexOf(order.SalesOrderNo) > -1" 
                                ng-click="toggleSelection(order.SalesOrderNo)"/>
                            <label class="km-checkbox-label" style="position:relative; bottom:1em;" for="{{$index}}"></label>
                        </td>
                        

                        <td class="v-align" ng-if="searchParameterId == '1'"><a class="data-btn" kendo-mobile-button ng-click="orderDetail(1, searchParameterId, order.OrderNumber)" >
                           {{order.OrderNumber}}   <div>&nbsp;</div>
                           </a></td>
                        <td class="v-align" ng-if="searchParameterId == '1'"><a class="data-btn" kendo-mobile-button ng-click="orderDetail(1, searchParameterId, order.OrderNumber)" >
                           {{order.SalesOrderNo}}
                           </a>
                        </td>

                                     
                        <td class="v-align" ng-if="searchParameterId == '2'"><a class="data-btn" kendo-mobile-button ng-click="orderList(1, searchParameterId, order.SalesOrderNo)" >
                              {{order.SalesOrderNo}} 
                          <!--  <div>5555534219381872</div>-->
                            </a>
                        </td>
                                     
                        <td class="v-align" ng-if="searchParameterId == '2'"><a class="data-btn" kendo-mobile-button ng-click="orderList(1, searchParameterId, order.SalesOrderNo)">
                              {{order.OrderNumber}}  <div>&nbsp;</div>
                          <!--  <div>5555534219381872</div>-->
                            </a>
                        </td>

                                      <td class="v-align" ng-if="searchParameterId == '3'"><a class="data-btn" kendo-mobile-button ng-click="orderList(1, searchParameterId, order.ShoppingCart)" >
                              {{order.ShoppingCart}}
                          <!--  <div>5555534219381872</div>-->
                            </a>
                        </td>
                                     
                        <td class="v-align" ng-if="searchParameterId == '3'"><a class="data-btn" kendo-mobile-button ng-click="orderList(1, searchParameterId, order.ShoppingCart)" >
                              {{order.OrderNumber}}  <div>&nbsp;</div>
                          <!--  <div>5555534219381872</div>-->
                            </a>
                        </td>

                                             <td class="v-align" ng-if="searchParameterId == '4'"><a class="data-btn" kendo-mobile-button ng-click="orderList(1, searchParameterId, order.VendorRef)" >
                              {{order.VendorRef}}
                          <!--  <div>5555534219381872</div>-->
                            </a>
                        </td>
                                     
                        <td class="v-align" ng-if="searchParameterId == '4'"><a class="data-btn" kendo-mobile-button ng-click="orderList(1, searchParameterId, order.OrderNumber)" >
                              {{order.OrderNumber}}  <div>&nbsp;</div>
                          <!--  <div>5555534219381872</div>-->
                            </a>
                        </td>
                                     
                           
                        <td class="v-align">
                            <a class="data-btn" ng-if="searchParameterId == '1'" kendo-mobile-button ng-click="orderDetail(1, searchParameterId, order.OrderNumber)">{{order.DateInSystem | date}}</a>
                              <a class="data-btn" ng-if="searchParameterId == '2'" kendo-mobile-button ng-click="orderList(1, searchParameterId, order.SalesOrderNo)">{{order.DateInSystem | date}}</a>
                              <a class="data-btn" ng-if="searchParameterId == '3'" kendo-mobile-button ng-click="orderList(1, searchParameterId, order.ShoppingCart)">{{order.DateInSystem | date}}</a>
                              <a class="data-btn" ng-if="searchParameterId == '4'" kendo-mobile-button ng-click="orderList(1, searchParameterId, order.VendorRef)">{{order.DateInSystem | date}}</a>
                            <i class="km-icon km-details red"></i>
                        </td></tr>

                                 <tr>
                        <td colspan="5" style="padding: 1em;">
                            <i></i>
                            <kendo-mobile-button class="km-secondary ck-btn-left" k-on-click="viewAll(1, searchParameterId)">{{form.viewAll.resoruceValue}}</kendo-mobile-button>
                            <i></i>
                            <kendo-mobile-button class="km-primary ck-btn-right" k-rel="'modalview'" k-on-click="showApprovalModel()">{{form.bulkApprove.resoruceValue}}</kendo-mobile-button>
                        </td>
                    </tr>
                            </table>
                </kendo-mobile-list-view>
                <kendo-mobile-list-view  style="display:none"  data-retailer="{{orderCount.RetailerId}}" class="order-header">     
                            <table class="ck-table">
                                   <tr class="header">
                                       <td>&nbsp;</td>
                          <td ng-if="searchParameterId == '1'" class="spacer">{{form.orderNumber.resoruceValue}}</td>
                                        <td ng-if="searchParameterId == '2' " class="spacer">{{form.salesOrder.resoruceValue}}</td>

                                        <td ng-if="searchParameterId == '3'" class="spacer">{{form.shoppingCart.resoruceValue}}</td>
                                        <td ng-if="searchParameterId == '4'" class="spacer">{{form.vendorRef.resoruceValue}}</td>
                                 <td>{{form.orderStatus.resoruceValue}}</td>
                                 <td>{{form.orderDate.resoruceValue}}</td>
                              </tr>
                                    <tr class="pipe" ng-repeat="order in orders">
                                        <td></td>
                                            <td class="v-align" ng-if="searchParameterId == '1'"><a class="data-btn" kendo-mobile-button ng-click="orderDetail(2, searchParameterId, order.OrderNumber)" >
                              {{order.OrderNumber}}
                        
                                                 <div>&nbsp;</div>
                            </a>
                        </td>

                                            <td class="v-align" ng-if="searchParameterId == '2'"><a class="data-btn" kendo-mobile-button ng-click="orderDetail(2, searchParameterId, order.SalesOrderNo)" >
                              {{order.SalesOrderNo}}
                                                  <div>&nbsp;</div>
                        
                            </a>
                        </td>

                                        
                                            <td class="v-align" ng-if="searchParameterId == '3'"><a class="data-btn" kendo-mobile-button ng-click="orderDetail(2, searchParameterId, order.ShoppingCart)" >
                              {{order.ShoppingCart}}  <div>&nbsp;</div>
                     
                            </a>
                        </td>

                                        
                                            <td class="v-align" ng-if="searchParameterId == '4'"><a class="data-btn" kendo-mobile-button ng-click="orderDetail(2, searchParameterId, order.VendorRef)">
                              {{order.VendorRef}}  <div>&nbsp;</div>
                        
                            </a>
                        </td>
                                 
                                       

                                        <td>{{order.Status}}</td>
                                        <td><a class="data-btn" kendo-mobile-button ng-click="orderDetail(2, searchParameterId, order.VendorRef)" >{{order.OrderDate | date}}</a><i class="km-icon km-details red"></i></td>
                                    </tr>
                              
                         
                <tr>
                 <td colspan="5" style="padding: 1em;">
                            <i></i>
                            <kendo-mobile-button class="km-secondary km-justified" k-on-click="viewAll(2, searchParameterId)">{{form.viewAll.resoruceValue}}</kendo-mobile-button>
                         <i></i>
                        </td></tr>
                         
                       </table>
                  </kendo-mobile-list-view>
           <kendo-mobile-list-view  style="display:none"  data-retailer="{{orderCount.RetailerId}}" class="order-header"> 
                            <table class="ck-table">
                                 <tr class="header">
                                     <td></td>
                                        <td ng-if="searchParameterId == '1'" class="spacer">{{form.orderNumber.resoruceValue}}</td>
                                        <td ng-if="searchParameterId == '2' " class="spacer">{{form.salesOrder.resoruceValue}}</td>

                                        <td ng-if="searchParameterId == '3'" class="spacer">{{form.shoppingCart.resoruceValue}}</td>
                                        <td ng-if="searchParameterId == '4'" class="spacer">{{form.vendorRef.resoruceValue}}</td>
                                        <td>{{form.orderStatus.resoruceValue}}</td>
                                        <td>{{form.orderDate.resoruceValue}}</td>
                                    </tr>
                             
                             
                                        <tr class="pipe" ng-repeat="order in orders">
                                            <td>&nbsp;</td>
                                            <td class="v-align" ng-if="searchParameterId == '1'"><a class="data-btn" kendo-mobile-button ng-click="orderDetail(3, searchParameterId, order.OrderNumber)" >
                              {{order.OrderNumber}}
                                                   <div>&nbsp;</div>
                   
                            </a>
                        </td>

                                            <td class="v-align" ng-if="searchParameterId == '2'"><a class="data-btn" kendo-mobile-button ng-click="orderDetail(3, searchParameterId, order.SalesOrderNo)" >
                              {{order.SalesOrderNo}}
                                                       <div>&nbsp;</div>
                   
                            </a>
                        </td>

                                        
                                            <td class="v-align" ng-if="searchParameterId == '3'"><a class="data-btn" kendo-mobile-button ng-click="orderDetail(3, searchParameterId, order.ShoppingCart)" >
                              {{order.ShoppingCart}}     <div>&nbsp;</div>
                     
                            </a>
                        </td>

                                        
                                            <td class="v-align" ng-if="searchParameterId == '4'"><a class="data-btn" kendo-mobile-button ng-click="orderDetail(3, searchParameterId, order.VendorRef)" >
                              {{order.VendorRef}}         <div>&nbsp;</div>
                     
                            </a>
                        </td>
                                        <td>{{order.Status}}</td>
                                        <td><a class="data-btn" kendo-mobile-button ng-click="orderDetail(3, searchParameterId, order.VendorRef)" >{{order.OrderDate | date}}</a><i class="km-icon km-details red"></i></td>
                                    </tr>
                                 <tr>
                 <td colspan="5" style="padding: 1em;">
                            <i></i>
                            <kendo-mobile-button class="km-secondary km-justified" k-on-click="viewAll(3, searchParameterId)">{{form.viewAll.resoruceValue}}</kendo-mobile-button>
                            <i></i>
                           
                        </td></tr>
                         
                            </table>
                    
           </kendo-mobile-list-view>
                  </div> 
 
        </kendo-mobile-list-view>
        <!-- End Home View -->
    </kendo-mobile-content>
 
<!--  Alert modal  -->
    <kendo-mobile-modal-view id="modalview-alerts" k-transition="'overlay:up'" class="km-moduleview" style="width: 90%; height:100%; background:rgba(255, 255, 255, 0);">
        <kendo-mobile-header>
            <kendo-mobile-nav-bar class="km-dark">{{form.alertsAndNews.resoruceValue}}</kendo-mobile-nav-bar>
        </kendo-mobile-header>
          <ul kendo-mobile-list-view style="margin-bottom: .5em;" class="ck-module-solid ck-no-border" k-style="'inset'" ng-show="mesages.AnnouncementList.length > 0">
    <li class="ck-module-date">
          <i class="ck-icon ck-news ck-module-icon"></i>
        Announcements
    </li>
    <li>
      
   
    <span ng-repeat="(key, value) in mesages.AnnouncementList | groupBy: 'SpecificRetailerId' | orderBy: 'SpecificRetailerId' ">

        <div class="km-font" ng-if="value[0].SpecificRetailerId > 0 && value[0].Message !==''">
                   <p> <b>{{value[0].Title}} </b> :<span ng-bind-html="renderHtml(value[0].Message)"></span></p>
        </div>
    </span>
</li>
</ul>
         <ul kendo-mobile-list-view style="margin-bottom: .5em;" class="ck-module-solid ck-no-border" k-style="'inset'"
             ng-show="mesages.PartnerHolidayList.length > 0">
             <li class="ck-module-date">
               <i class="ck-icon ck-alert ck-module-icon"></i>
               Print Shop Holidays
            </li>
            <li>
                <span class="km-font" ng-repeat="message in mesages.PartnerHolidayList">
                   <p><b> {{message.Name}} </b>  {{message.HolidayDescription}} closed  on {{ message.StartDate | date}} - {{message.EndDate | date}} </p>
                    
                    </span>
            </li>
         
        </ul>

         <ul kendo-mobile-list-view style="margin-bottom: .5em;" class="ck-module-solid ck-no-border" k-style="'inset'" ng-show="mesages.AnnouncementList.length > 0">
    <li class="ck-module-date">
         <i class="ck-icon ck-news ck-module-icon"></i>
        CheckPoint Systems, Inc.
    </li>
    <li>
       
  
    <span ng-repeat="(key, value) in mesages.AnnouncementList | groupBy: 'SpecificRetailerId' | orderBy: 'SpecificRetailerId' ">

        <span class="km-font" ng-if="value[0].SpecificRetailerId == 0 && value[0].Message && value[0].Title">
                  <p>  <b>{{value[0].Title}} </b> :<span ng-bind-html="renderHtml(value[0].Message)"></span></p>
        </span>
    </span>
</li>
</ul>

       

   
   
        <kendo-mobile-footer>
            <kendo-mobile-button k-on-click="hideAlertModel()" k-transition="'overlay:down'" class="km-justified" style="background: none; border: none;"><img src="styles/images/close-button.png" style="width: 3.2em; height: 3.2em;" />
            </kendo-mobile-button>
        </kendo-mobile-footer>
        </kendo-mobile-module-view>


      <!--  credit lock modal  -->

          <div kendo-mobile-modal-view id="modalview-credit" class="km-moduleview" style="width: 90%; height:100%; background:rgba(255, 255, 255, 0);">
            <div kendo-mobile-header>
                <div kendo-mobile-nav-bar class="km-dark">
                    {{form.creditLock.resoruceValue}}
                </div>

            </div>
            <ul kendo-mobile-list-view style="margin-bottom: .5em;" class="ck-module-solid ck-no-border" k-style="'inset'">
                 <li class="ck-module-date">
                   {{form.creditLock.resoruceValue}}
                </li>
                <li>
                    <i class="ck-icon ck-lock ck-module-icon"></i>
                    <h3 class="km-bold-font">{{form.attentionUser.resoruceValue}}</h3>
                    <h3 class="km-font">
                       {{form.creditLockMessage.resoruceValue}}
                    </h3>
                </li>
           
            </ul>
            <kendo-mobile-footer>
                <div kendo-mobile-button k-on-click="hideCreditModel()" k-transition="'fade'" class="km-justified" style="background: none; border: none;"><img src="styles/images/close-button.png" style="width: 3.2em; height: 3.2em;" />
                </div>
            </kendo-mobile-footer>

          </div>


                  <!--  approve modal -->
        
         <kendo-mobile-modal-view id="modalview-approve" class="km-moduleview" style="width: 90%; height:97%; background:rgba(255, 255, 255, 0);">
                <kendo-mobile-header>
                    <kendo-mobile-nav-bar class="km-dark">
                            <kendo-mobile-button k-align="'left'" k-on-click="hideApporvalModel()"><i class="ck-icon ck-barrow" style="color: rgb(213, 43, 30);"></i></kendo-mobile-button>
                        {{form.approval.resoruceValue}}</kendo-mobile-nav-bar>
                </kendo-mobile-header>
                <ul kendo-mobile-list-view k-style="'inset'">
                    <li class="ck-module-solid">
                        <h3 class="km-bold-font">{{form.salesOrder.resoruceValue}}(s)</h3>
                        <h4 class="km-font">
                         {{salesorderList}}
                    </h4>
                    </li>
                    <li class="ck-no-pad-side" style="border:0;">
                       <fieldset>
                            <textarea placeholder="{{form.comment.resoruceValue}}" ng-model="orderApprovalComment" style="height: 150px; border: .1em solid #5E6A71; border-radius:0;"></textarea>
                        </fieldset>
                    </li>
               </ul>
                <p ng-show="message" class="text-center ckp-a-link" k-transition="'slide'" ng-bind-html="renderHtml(message)"></p>
                <kendo-mobile-footer>
                      
                        <kendo-mobile-button class="km-primary km-large ck-btn-left"  k-on-click="approved(true)">{{form.yes.resoruceValue}}</kendo-mobile-button>
                        
                        <kendo-mobile-button class="km-secondary km-large ck-btn-right" k-on-click="approved(false)">{{form.no.resoruceValue}}</kendo-mobile-button>
                </kendo-mobile-footer>
                </kendo-mobile-modal-view>
        
     
</kendo-mobile-view>
