<kendo-mobile-view k-title="'{{form.title.resoruceValue}}'" ng-controller="homeController"  k-transition="'slide'">
     <kendo-mobile-header>
            <kendo-mobile-nav-bar class="km-accent">

                   <kendo-mobile-button k-align="'right'" k-transition="'fade'" k-rel="'modalview'"  k-on-click="showAlertModel()"><i class="ck-icon ck-messages"></i></kendo-mobile-button>
              

                <a kendo-mobile-button="" k-align="'left'" href="#right-drawer" k-rel="'drawer'" data-role="button" class="ck-icon ck-menu" data-rel="drawer" data-align="left">
                    <span class="km-text"><i class="icon ion-navicon-round"></i></span>
                </a>
                <!--   <kendo-mobile-back-button k-align="'left'" style="padding-left:25px;">Back</kendo-mobile-back-button>-->
               <kendo-view-title><img src="styles/images/Checknet-title.png" style="width: 5em; height: .9em;" />
                </kendo-view-title>
            </kendo-mobile-nav-bar>
        </kendo-mobile-header>


       <kendo-mobile-content>
       <kendo-mobile-list-view class="ck-no-border">
            <li class="ck-po-container ck-grey-wrap">
                <fieldset class="ck-login">

                     <select class="ck-po-select" 
                         style="background-image: url(styles/images/down-arrow.png); background-position: 95% 50%; background-repeat: no-repeat; background-size: 1em .5em; background-color: #7F7F7F;"
                         ng-model="selectedPara" 
                         ng-change="selectParamter()" 
                         ng-options="parameter.id as parameter.name for parameter in parameters" ng-init="selectedPara = selectedPara || '1'">
                    </select>

                    <input class="ck-po-search" 
                        style="background-image: url(styles/images/search.png); background-position: 95% 50%; background-repeat: no-repeat; background-size: 1em 1em; background-color: #FFFFFF;" 
                        value="" placeholder="Search" type="text" />
                </fieldset>
                <!--<i class="km-icon km-arrowdown" style="position:relative; bottom: 25px; left:115px; z-index: 1; color:#fff; float:left;"></i>
                <i class="km-icon km-search" style="position:relative; bottom: 25px; float:right; z-index: 1; font-size:80%; color:#D52B1E;"></i>-->
            </li>
       
            <kendo-mobile-collapsible 
                class="ck-home" 
                style="margin-top:-.1em;" k-id="'collapsible'" k-collapsed="'false'" k-on-expand="OpenExpand()"
                ng-repeat="orderCount in orderCounts">
                <h3>
                <kendo-mobile-button class="ck-title">TJMAXX</kendo-mobile-button>
                <kendo-mobile-button class="ck-title-icon" k-transition="'fade'" k-rel="'modalview'" href="#modalview-credit"><img src="styles/images/Alert.png" style="width: 1.4em; height: 1.2em;" /></kendo-mobile-button>
                <kendo-mobile-button-group class="ck-button-group" k-id="buttongroup-home">

                                <kendo-mobile-button class="ck-button km-state-active km-button retailer retailer-{{retailer.RetailerId}}" ng-show="orderCount.HasApproval" 
                                    ng-click="approvalDetail(orderCount.RetailerId)">
                                    <div class="ck-button-number">{{ orderCount.ApprovalCount}}</div>
                                    <div class="ck-button-text">Approvals</div>
                                </kendo-mobile-button>

                                <kendo-mobile-button class="ck-button km-button retailer retailer-{{retailer.RetailerId}}" ng-show="orderCount.NewOrderCount"
                                    ng-click="newOrderDetail(orderCount.RetailerId)">
                                    <div class="ck-button-number">{{ orderCount.NewOrderCount}}</div>
                                    <div class="ck-button-text">News</div>
                               </kendo-mobile-button>

                               <kendo-mobile-button class="ck-button km-button retailer retailer-{{retailer.RetailerId}}" ng-show="orderCount.HasReleased"
                                   ng-click="releaseOrderDetail(orderCount.RetailerId)">
                                   <div class="ck-button-number">{{ orderCount.ReleasedOrderCount}}</div>
                                   <div class="ck-button-text">Released</div>
                               </kendo-mobile-button>
                            </kendo-mobile-button-group>


<!--                     <ul kendo-mobile-button-group>
                        <li class="km-button retailer retailer-{{retailer.RetailerId}}" ng-show="orderCount.HasApproval">
                            <a href id="approvalDetail-{{orderCount.RetailerId}}" class="ele-{{$index}}" ng-click="approvalDetail(orderCount.RetailerId)">Approval ({{ orderCount.ApprovalCount}})</a>
                        </li>
                        <li class="km-button retailer retailer-{{retailer.RetailerId}}" ng-show="orderCount.NewOrderCount">
                            <a href id="newOrderDetail-{{orderCount.RetailerId}}" ng-click="newOrderDetail(orderCount.RetailerId)">New ({{ orderCount.NewOrderCount}})</a>
                        </li>
                        <li class="km-button retailer retailer-{{retailer.RetailerId}}" ng-show="orderCount.HasReleased">
                            <a href id="releaseOrderDetail-{{orderCount.RetailerId}}" ng-click="releaseOrderDetail(orderCount.RetailerId)">Released ({{ orderCount.ReleasedOrderCount}})</a>
                        </li>
                    </ul>-->
                </h3>
                <table class="ck-table">
                    <tr class="header">
                        <td></td>
                        <td class="spacer">Purchase Order</td>
                        <td>Sales Order</td>
                        <td>Date</td>
                        <td>
                        </td>
                    </tr>
                    <tr class="pipe">
                        <td>
                            <input type="checkbox" class="km-checkbox" id="chocolate" />
                            <label class="km-checkbox-label" style="position:relative; bottom:1em;" for="chocolate"></label>
                        </td>
                        <td class="v-align"><a class="data-btn" kendo-mobile-button href="views/shopping-cart-details.html">
                            GEM Trading Co. LLc
                            <div>5555534219381872</div>
                            </a>
                        </td>
                        <td class="v-align"><a class="data-btn" kendo-mobile-button href="views/shopping-cart-details.html">
                           123456789
                           </a>
                        </td>
                        <td class="v-align"><a class="data-btn" kendo-mobile-button href="views/shopping-cart-details.html">0000</a><i class="km-icon km-details red"></i>
                        </td>
                    </tr>
                    <tr class="pipe">
                        <td>
                            <input type="checkbox" class="km-checkbox" id="test7" />
                            <label class="km-checkbox-label" style="position:relative; bottom:1em;" for="test7"></label>
                        </td>
                        <td class="v-align"><a class="data-btn" kendo-mobile-button href="views/shopping-cart-details.html">
                            Marshalls-1
                            <div>5555534219381872</div>
                            </a>
                        </td>
                        <td class="v-align"><a class="data-btn" kendo-mobile-button href="views/shopping-cart-details.html">
                           123456789
                           </a>
                        </td>
                        <td class="v-align"><a class="data-btn" kendo-mobile-button href="views/shopping-cart-details.html">0000</a><i class="km-icon km-details red"></i>
                        </td>
                    </tr>
                    <tr class="pipe">
                        <td>
                            <input type="checkbox" class="km-checkbox" id="test6" />
                            <label class="km-checkbox-label" style="position:relative; bottom:1em;" for="test6"></label>
                        </td>
                        <td class="v-align"><a class="data-btn" kendo-mobile-button href="views/shopping-cart-details.html">
                            Marshalls-1
                            <div>5555534219381872</div>
                            </a>
                        </td>
                        <td class="v-align"><a class="data-btn" kendo-mobile-button href="views/shopping-cart-details.html">
                           123456789
                           </a>
                        </td>
                        <td class="v-align"><a class="data-btn" kendo-mobile-button href="views/shopping-cart-details.html">0000</a><i class="km-icon km-details red"></i>
                        </td>
                    </tr>
                    <tr class="pipe">
                        <td>
                            <input type="checkbox" class="km-checkbox" id="test5" />
                            <label class="km-checkbox-label" style="position:relative; bottom:1em;" for="test5"></label>
                        </td>
                        <td class="v-align"><a class="data-btn" kendo-mobile-button href="views/shopping-cart-details.html">
                            Marshalls-1
                            <div>5555534219381872</div>
                            </a>
                        </td>
                        <td class="v-align"><a class="data-btn" kendo-mobile-button href="views/shopping-cart-details.html">
                           123456789
                           </a>
                        </td>
                        <td class="v-align"><a class="data-btn" kendo-mobile-button href="views/shopping-cart-details.html">0000</a><i class="km-icon km-details red"></i>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" style="padding: 1em;">
                            <i></i>
                            <kendo-mobile-button class="km-secondary ck-btn-left">View All</kendo-mobile-button>
                            <i></i>
                            <kendo-mobile-button class="km-primary ck-btn-right" k-rel="'modalview'" href="#modalview-approve">Bulk Approve</kendo-mobile-button>
                        </td>
                    </tr>
                </table>
            </kendo-mobile-collapsible>
        
        <!-- End Home View -->
    </kendo-mobile-content>
 
<!--  Alert modal  -->
    <kendo-mobile-modal-view id="modalview-alerts" k-transition="'overlay:up'" class="km-moduleview" style="width: 90%; height:100%; background:rgba(255, 255, 255, 0);">
        <kendo-mobile-header>
            <kendo-mobile-nav-bar class="km-dark">News & Alerts</kendo-mobile-nav-bar>
        </kendo-mobile-header>
        <ul kendo-mobile-list-view style="margin-bottom: .5em;" class="ck-module-solid ck-no-border" k-style="'inset'">
            <li ng-show="mesages.PartnerHolidayList.length > 0" ng-repeat="message in mesages.PartnerHolidayList">
                <i class="ck-icon ck-alert ck-module-icon"></i>
                <h3 class="km-bold-font">{{message.Name}}</h3>
                <h3 class="km-font">
                       {{message.HolidayDescription}}
                    </h3>
            </li>
            <li class="ck-module-date">
                {{ message.StartDate | date}} - {{message.EndDate | date}} 
            </li>


              <li ng-show="mesages" ng-repeat="message in mesages.AnnouncementList">
                <i class="ck-icon ck-alert ck-module-icon"></i>
                <h3 class="km-bold-font">{{message.RetailerName}}{{message.SpecificRetailerId}}</h3>
                <h3 class="km-font">
                       {{message.Title}}
                    </h3>
            </li>
            <li class="ck-module-date">
              <!--  {{ message.StartDate | date}} - {{message.EndDate | date}} -->
            </li>
        </ul>
   
        <kendo-mobile-footer>
            <kendo-mobile-button k-on-click="hideAlertModel()" k-transition="'overlay:down'" class="km-justified" style="background: none; border: none;"><img src="styles/images/close-button.png" style="width: 3.2em; height: 3.2em;" />
            </kendo-mobile-button>
        </kendo-mobile-footer>
        </kendo-mobile-module-view>


      <!--  credit lock modal  -->

          <kendo-mobile-modal-view id="modalview-credit" class="km-moduleview" style="width: 90%; height:100%; background:rgba(255, 255, 255, 0);">
            <kendo-mobile-header>
                <kendo-mobile-nav-bar class="km-dark">{{form.creditLock.resoruceValue}}</kendo-mobile-nav-bar>
            </kendo-mobile-header>
            <ul kendo-mobile-list-view style="margin-bottom: .5em;" class="ck-module-solid ck-no-border" k-style="'inset'">
                <li>
                    <i class="ck-icon ck-lock ck-module-icon"></i>
                    <h3 class="km-bold-font">{{form.attentionUser.resoruceValue}}</h3>
                    <h3 class="km-font">
                       {{form.creditLockMessage.resoruceValue}}
                    </h3>
                </li>
                <li class="ck-module-date">
                    12:15 PM - 05/01/2015 - 05/02/2015
                </li>
            </ul>
            <kendo-mobile-footer>
                <kendo-mobile-button k-on-click="hideCreditModel()" k-transition="'fade'" class="km-justified" style="background: none; border: none;"><img src="styles/images/close-button.png" style="width: 3.2em; height: 3.2em;" />
                </kendo-mobile-button>
            </kendo-mobile-footer>
            </kendo-mobile-module-view>

</kendo-mobile-view>