<kendo-mobile-view k-transition="'slide'">
    <kendo-mobile-header>
        <kendo-mobile-nav-bar class="km-accent">
            <kendo-mobile-back-button k-align="'left'">Back</kendo-mobile-back-button>
            <kendo-view-title>Feedback</kendo-view-title>
        </kendo-mobile-nav-bar>
    </kendo-mobile-header>
    <kendo-mobile-content>
        <kendo-mobile-list-view k-style="'inset'">
            <li>
                
              <fieldset>
                    <legend>Have something to share?</legend>
                    <textarea style="height: 150px;">Let us know here</textarea>
                </fieldset>
            </li>
            <li>
            <i></i>
                <kendo-mobile-button class="km-primary km-justified">Send</kendo-mobile-button>
            </li>
        </kendo-mobile-list-view>
    </kendo-mobile-content>
</kendo-mobile-view>