<<kendo-mobile-view k-title="'{{form.title.resoruceValue}}'" k-layout="'default'" ng-controller="policyController" k-after-show="afterShow" k-on-init="init(kendoEvent)" data-reload="true">
    <kendo-mobile-content>
        <kendo-mobile-list-view class="ck-grey-wrap ck-no-border">
            <li>
                <p>{{form.policyInstructions.resoruceValue}}</p>
            </li>
        </kendo-mobile-list-view>
            
        <kendo-mobile-collapsible k-icon-position="'right'" k-expand-icon="'plus'" k-collapse-icon="'minus'" data-collapsed="false" k-on-expand="OpenExpand()"
                    ng-show="policies" ng-repeat="policy in policies.Resources" ng-if="$index != 2">
        
              <h4><span translate-element="{{policy.ResourceValue.ResourceName}}"</span></h4>
            <p ng-bind-html="renderHtml(policy.ResourceValue.ResourceValue)"></p>
        </kendo-mobile-collapsible>
        <div ng-show="!policies">
            <p>{{form.noData.resoruceValue}}</p>
        </div>
    </kendo-mobile-content>
</kendo-mobile-view>
